@import '../../assets/sass/Variable.scss';
@import '../../assets/sass/mixin.scss';

.code {
	@include layout-pages();
	
	&__suggestions {
		margin: 48px 0 32px 0;
		display: none;
		color: rgb(117, 117, 117);
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8;
        text-transform: uppercase;
		&-list {
			display: flex;
			flex-wrap: wrap;
			padding-left: 0;
			&-item {
				list-style: none;
				> a {
					text-decoration: none;
					color: #333;
					font-weight: 400;
					line-height: 1.8;
					background-color: #f2f2f2;
					border-radius: 30px;
					padding: 6px 16px;
					display: block;
					margin: 0 8px 8px 0;
					font-size: 1.4rem;
				}
			}
		}
	}

	&__primary {
		border-right: $color-border;
		padding: 36px 64px 44px 0;

		&-header {
			border-bottom: $color-border;
			@include header__layout-each-pages();

			&-tab {
				padding: 12px 8px;
				text-transform: uppercase;
				font-weight: 700;
			}
			.Blog__header-active {
				font-weight: 600;
				color: $color-text;
				border-bottom: 1px solid $color-text;
			}
		}
		&-item {
			padding: 36px 0;
			border-bottom: 1px solid rgba(0, 0, 0, .0785);
			&-heading {
				text-decoration: none;
				> h3 {
					color: $color-text;
					font-size: $fontSize-heading-normal;
					font-weight: 700;
					line-height: 1.6;
					margin: 0;
				}
			}
			&-header {
				display: flex;
				align-items: center;
				justify-content: space-between;
				&__infor-user {
					font-size: $fontSize-text-desc;
					color: $color-sliver;
					display: flex;
					align-items: center;
					text-decoration: none;
					margin: 16px 0;
					> img {
						@include avatar();
					}
					> span {
						font-size: $fontSize-text-normal;
						color: $color-text;
						font-weight: 600;
						margin-left: 8px;
					}
					.dot {
						margin: 0 8px;
					}
				}
				&-btn {
					user-select: none;
					color: $color-sliver;
					display: flex;
					margin-right: -8px;
					font-size: $fontSize-text-normal;
					&__save-post {
						@include btn__share__save();
					}
					&__share-social {
						@include btn__share__save();
					}
				}
			}

			&__Highlight {
				font-family: "Fira Code", monospace !important;
				padding: 20px !important;
				font-size: 1.7rem !important;
				line-height: 1.8 !important;
			}
		}
	}
	&__propose {
		&-box {
			height: 100%;
			padding-left: 32px;
		}
		&-layout {
			position: sticky;
			top: 114px;
			margin-top: 48px;
		}
		&-heading {
			> h3 {
				color: $color-sliver;
				font-size: $fontSize-text-normal;
				font-weight: 500;
				line-height: 1.8;
				text-transform: uppercase;
			}
		}
		&-list {
			display: flex;
			flex-wrap: wrap;
			padding-left: 0;
			&-item {
				list-style: none;
				> a {
					text-decoration: none;
					color: $colo-black;
					font-weight: 400;
					line-height: 1.8;
					background-color: $color-background-White;
					border-radius: 30px;
					padding: 6px 16px;
					display: block;
					margin: 0 8px 8px 0;
					font-size: $fontSize-text-desc;
				}
			}
		}
	}
}
