$color-orange: #f05123;
$colo-black: #333;
$color-sliver: #757575;
$color-gray: #dce0e3;
$color-text: #292929;
$color-btn: #1dbfaf;
$color-btn-img: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%);
$color-border: 1px solid #e6e6e6;
$color-white: #fff;
$color-background-White: #f2f2f2;
$fontSize-text-min: 1.3rem;
$fontSize-text-desc: 1.4rem;
$fontSize-text-normal: 1.6rem;
$fontSize-heading-h2: 3.2rem;
$fontSize-heading-h3: 2.8rem;
$fontSize-heading-normal: 2.2rem;
